@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');
.header {
    background-color: white;
    opacity: 45%;
    padding: 10px;
}
a {
 padding-left: 2rem;   
padding-right: 1rem;
font-family: 'Irish Grover', cursive;
text-decoration: none;
color: black;
}
.about2 {
    border-left: black solid 1px;
}
.body1 {
    background-color: black;
    margin: 0;
    background-image: url(/images/image.png)
}
.text {
    background-color: white;
    opacity: 45%;
    width: 750px;
    height: 150px;
    float: right;
    margin-right: 25rem;
    margin-top: 35rem;
    border-radius: 20px;
    padding-top: 4;

}
p {
    font-size: 40px;
    font-family: 'Irish Grover', cursive;
   padding-left: 20px;
   padding-right: 19px;

}
h1 {
    font-size: 50px;
    font-family: 'Irish Grover', cursive;
    padding-left: 13rem;
    padding-top: 1px;
}
.about {
    background-color: black;
    margin: 0;
    background-image: url(images/pilt_pilt.jpg)
    
}
.text2 {
    background-color: white;
    
    width: 75rem;
    height: 600px;
    float: right;
    margin-right: 12.5rem;
    margin-top: 5rem;
    border-radius: 20px;
    margin-left: 12.5rem;
}
b {
    font-size: 33px;
    font-family: 'Irish Grover', cursive;
    float: right;
    padding-left: 33rem;
}
h2 {
    font-size: 50px;
    font-family: 'Irish Grover', cursive;
    padding-left: 1rem;
    border-bottom: black solid 2px;
    margin: 2rem;
}
.about-img {
    width: 27rem;
    float: left;
    height: 20rem;
    margin-left: 2rem;
    padding-top: 0rem;
    border-radius: 20px;
}
.about-txt {
    font-size: 30px;
    padding-left: 33rem;

}
.contacts {
    background-image: url(/images/contacts.jpg)
}
.contacts-txt {
    font-size: 45px;
    font-family: 'Irish Grover', cursive;
    padding-left: 25rem;
    padding-top: 10rem;
} 
h3 {
    font-size: 50px;
    padding-left: 1rem;
    border-bottom: black solid 2px;
    margin: 2rem;
    font-family: 'Irish Grover', cursive;
}
